# IDE litter
.idea
*.stTheme.cache
*.sublime-workspace
*.sublime-project
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache

# Logs
*.log

# project specific
node_modules
build
swagger-spec.json

# local config
config/local.json

# certificates
config/certificates

# OSX files
*.DS_Store

# coverdage
coverage
